beautifulsoup4==4.13.4
certifi==2025.1.31
charset-normalizer==3.4.1
executing==2.2.0
idna==3.10
lxml==5.3.2
Markdown==3.8
pure_eval==0.2.3
Pygments==2.19.1
python-dateutil==2.9.0.post0
python-dotenv==1.1.0
requests==2.32.3
setuptools==76.1.0
sgmllib3k==1.0.0
six==1.17.0
soupsieve==2.6
stack-data==0.6.3
telegraph==2.2.0
traitlets==5.14.3
typing_extensions==4.13.2
urllib3==2.4.0
wheel==0.45.1
